<div class="menu">
    <div class="vertical-menu">
        <% if (active_button === 'home') { %>
        <a href="/home" class="active">&Uuml;BERSICHT</a>
        <%} else { %>
        <a href="/home">&Uuml;BERSICHT</a>
        <% } %>
        <% if (active_button === 'plant') { %>
        <a href="/plant" class="active">ANLAGE</a>
        <%} else { %>
        <a href="/plant">ANLAGE</a>
        <% } %>    
        <a href="#">MITGLIEDER</a>
        <a href="#">SONDERMITGLIEDER</a>
        <a href="#">BEWERBER</a>
        <a href="#">P&Auml;CHTERWECHSEL</a>
        <a href="#">FINANZEN</a>
        <a href="#">VEREINSFUNKTIONEN</a>
        <a href="#">LISTEN ERSTELLEN</a>
        <a href="/inventar">INVENTAR</a>
        <a href="#">ZUSATZPROGRAMME</a>
        <a href="/logout">ABMELDEN</a>
      </div>
</div>